/* CSS Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Roboto';
    background-color: var(--color-light);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
  /* ===== Brand Colors ===== */
  --color-primary: #FF6B01;      /* Main brand color (blue) */
  --color-secondary: #008080;    /* Supporting neutral */
  --color-secondary-dark: #002F2F; /* Lighter shade of secondary */
  --color-accent: #66fcf1;       /* Highlight or accent color */
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-info: #17a2b8;

  /* ===== Neutral Shades ===== */
  --color-white: #ffffff;
  --color-light: #f8f9fa;
  --color-gray: #adb5bd;
  --color-dark: #212529;
  --color-black: #000000;

  /* ===== Text Colors ===== */
  --text-primary: var(--color-dark);
  --text-secondary: var(--color-gray);
  --text-inverse: var(--color-white);

    /* ===== Background Colors ===== */
    --color-bg: #1B3C53;
}

#root, #__next {
    isolation: isolate;
}

/* Utility Classes */
.hide {
    display:none;
}
.fs-1 {
    font-size: 1rem;
}
.fs-2 {
    font-size: 1.5rem;
}
.fs-3 {
    font-size: 2rem;
}
.fs-4 {
    font-size: 2.5rem;
}
.fs-5 {
    font-size: 3rem;
}
.bold {
    font-weight: 1000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.section-title {
    font-family: 'roboto flex';
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 20px;
}
.primary-bg {
    background-color: var(--color-primary);
}
.secondary-bg {
    background-color: var(--color-bg);
}
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
/* Button Styles */
.btn-1 {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-start;
}
.btn-2 {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--color-secondary-dark);
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}


/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: 20px 0;
  transition: 0.4s ease, 0.4s ease;
}

.nav-container {
  max-width: 1200px;       
  margin: 0 auto;          
  padding: 0 40px;         
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 2px;
}
.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .logo a {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s;
}
nav .logo a:hover {
    color: var(--color-primary);
    transition: color 0.3s;
}
nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav .nav-links li a {
    text-decoration: none;
    color:var(--color-white);
    font-size: 1.6rem;
    transition: color 0.3s;
}
nav .nav-links li a:hover {
    color: var(--color-primary);
}
nav img {
    width: 10px;
    height: 20px;
    margin-right: 10px;
}

.navbar.scrolled {
    background: rgba(11, 12, 16, 0.6); 
    backdrop-filter: blur(10px);        
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.4s ease, backdrop-filter 0.4s ease;
}

/* tools section */
.tools-tech {
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  position: relative;
  background-color: var(--color-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tools-tech h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #fff;
}


/* The moving stream */
.tools-stream {
    display: inline-flex;
    gap: 100px;
    align-items: center;
    animation: riverFlow 25s linear infinite;
}

/* Icon styles */
.tools-stream img {
    filter: grayscale(80%);
    opacity: 0.9;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.tools-stream img:hover {
    transform: scale(1.2);
    filter: grayscale(0%) drop-shadow(0 0 10px #66fcf1);
    opacity: 1;
}

.tools-tech-content:hover .tools-stream {
    animation-play-state: paused;
}

/* River Flow Animation */
@keyframes riverFlow {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: flex-end; 
    position: relative;
    padding-top: 80px;
    background-image: url('./assets/img/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-container {
    color: var(--color-white);
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    padding: 9% 5%;
    width: 100%;
}
.hero-info{
    max-width: 600px;
    margin-right: 80px;
    text-align: justify;
    font-family: 'roboto flex';
}
.hero-greeting {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 1000;
}
.hero-name {
    font-size: 3rem;
    font-weight: 1000;
}
.hero-title {
    font-size: 4.8rem;
    margin-top: 0;
    font-weight: 1000;
    color: var(--color-primary);
    font-family: 'Roboto Flex';
}
.hero-description {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.hero-image {
    width: 800px;
    height: auto;
}
.hero-info button {
    font-size: 2rem;
    padding: 1.2rem 2rem;
    align-self: flex-start;
}

/* about section */
.about {
    padding: 20px 0;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-info {
    flex: 1;
    margin-left: 40px;
}
.about-info p {
    margin-bottom: 15px;
    text-align: justify;
}
.about img {
    width: 400px;
    height: auto;
}

/* portfolio section */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px; /* spacing from section title */
}

.card {
    background-color: var(--color-dark); /* ensures cards have a visible background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* keep corners rounded */
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content img {
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-details-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--color-light);
}

.card-details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex-grow: 1;
}

.card-details p {
    flex-grow: 1; /* ensures button stays at bottom */
}


/* contact section */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.contact-message-wrapper {
    color: var(--color-black);
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form-wrapper {
    display: flex;
    color: var(--color-white);
    padding: 20px;
    background-color: var(--color-primary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column; /* stack children vertically */
    gap: 10px; /* space between form and button */
    width: 50%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-form h3 {
    margin-bottom: 15px;
    font-size: 2rem;
}
.contact-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.contact-links a img {
    transition: transform 0.3s;
}
.contact-links a img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.contact-links a img:active {
    transform: scale(0.95);
}
    
.contact-links li {
    list-style: none;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-white);
    text-align: center;
    padding: 5rem 0;
    font-size: 1.4rem;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 768px) {

    /* Navbar */
    .navbar {
        background: rgba(11, 12, 16, 0.6); 
        backdrop-filter: blur(10px);        
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        transition: background 0.4s ease, backdrop-filter 0.4s ease;
    }
    .burger {
        display: flex;
    }
    .nav-container {
        align-items: flex-start;
        padding: 10px 20px;
    }
    
    .nav-menu{
        position:fixed;
        flex-direction: column;
        top: 90px;
        width: 100%;
        left: -100%;
        background: black; 
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: -0.1%;
    }
    nav .nav-links {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    nav .nav-links li a {
        font-size: 1.4rem;
    }

    /* Hero Section */
    .hero-container {
        flex-direction: column;
        padding: 5% 5%;
        align-items: center;
        text-align: center;
    }
    .hero-info {
        margin-right: 0;
        max-width: 100%;
        text-align: center;
    }
    .hero-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-top: 20px;
    }
    .hero-title {
        font-size: 3rem;
    }
    .hero-description {
        font-size: 1.8rem;
    }
    .hero-info button {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
    }

    /* About Section */
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-info {
        margin-left: 0;
        margin-top: 20px;
    }
    .about img {
        display: none;
    }

    /* Portfolio / Projects */
    .projects {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 20px;
    }

    /* Tools Section */
    .tools-tech h2 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .tools-stream img {
        width: 30px;
        height: 30px;
        gap: 50px;
    }

    /* Contact Section */
    .contact-container {
        flex-direction: column;
        gap: 20px;
    }
    .contact-form-wrapper, .contact-message-wrapper {
        width: 100%;
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}